extend default

block content
  .wrapper
      .left
        table(margin)
          thead
            tr
              th(align='left') Singer
          tbody
              tr
                td= rows[3].artist_name

        table
          thead
            tr
              th(align='left') Song
          tbody
              tr
                td= rows[3].title

        table
          thead
            tr
              th(align='left') Genre
          tbody
              tr
                td= rows[3].mbtag

        table
          thead
            tr
              th(align='left') Release
          tbody
              tr
                td= rows[3].year

        table
          thead
            tr
              th(align='left') Rate
          tbody
              tr
                td= (rows[3].artist_hotttnesss *10).toFixed(1)

      .right
        img(src="https://i1.sndcdn.com/artworks-adGXloyEqavX-0-t500x500.jpg", width="380")