extend default

block content
  .wrapper
      .left
        table(margin)
          thead
            tr
              th(align='left') Singer
          tbody
              tr
                td= rows[4].artist_name

        table
          thead
            tr
              th(align='left') Song
          tbody
              tr
                td= rows[4].title

        table
          thead
            tr
              th(align='left') Genre
          tbody
              tr
                td= rows[4].mbtag

        table
          thead
            tr
              th(align='left') Release
          tbody
              tr
                td= rows[4].year

        table
          thead
            tr
              th(align='left') Rate
          tbody
              tr
                td= (rows[4].artist_hotttnesss *10).toFixed(1)

      .right
        img(src="https://i1.sndcdn.com/artworks-000138313411-zd8szv-t500x500.jpg", width="380")