extend default

block content
  .wrapper
      .left
        table(margin)
          thead
            tr
              th(align='left') Singer
          tbody
              tr
                td= rows[5].artist_name

        table
          thead
            tr
              th(align='left') Song
          tbody
              tr
                td= rows[5].title

        table
          thead
            tr
              th(align='left') Genre
          tbody
              tr
                td= rows[5].mbtag

        table
          thead
            tr
              th(align='left') Release
          tbody
              tr
                td= rows[5].year

        table
          thead
            tr
              th(align='left') Rate
          tbody
              tr
                td= (rows[5].artist_hotttnesss *10).toFixed(1)

      .right
        img(src="https://i1.sndcdn.com/artworks-000262932479-6poe4r-t500x500.jpg", width="380")