extend default

block content
  .wrapper
      .left
        table(margin)
          thead
            tr
              th(align='left') Singer
          tbody
              tr
                td= rows[2].artist_name

        table
          thead
            tr
              th(align='left') Song
          tbody
              tr
                td= rows[2].title

        table
          thead
            tr
              th(align='left') Genre
          tbody
              tr
                td= rows[2].mbtag

        table
          thead
            tr
              th(align='left') Release
          tbody
              tr
                td= rows[2].year

        table
          thead
            tr
              th(align='left') Rate
          tbody
              tr
                td= (rows[2].artist_hotttnesss *10).toFixed(1)

      .right
        img(src="https://f4.bcbits.com/img/a3078045279_16.jpg", width="380")