extend default

block content
  .wrapper
      .left
        table(margin)
          thead
            tr
              th(align='left') Singer
          tbody
              tr
                td= rows[7].artist_name

        table
          thead
            tr
              th(align='left') Song
          tbody
              tr
                td= rows[7].title

        table
          thead
            tr
              th(align='left') Genre
          tbody
              tr
                td= rows[7].mbtag

        table
          thead
            tr
              th(align='left') Release
          tbody
              tr
                td= rows[7].year

        table
          thead
            tr
              th(align='left') Rate
          tbody
              tr
                td= (rows[7].artist_hotttnesss *10).toFixed(1)

      .right
        img(src="https://t2.genius.com/unsafe/440x0/https%3A%2F%2Fimages.genius.com%2Fa3fb19b50bfb5b16fbccd9c6415d22e9.600x600x1.jpg", width="380")